/* ======== GENERAL STYLES ========= */
* {
  box-sizing: border-box;
}
body {
  font-family: serif;
  margin: 0;
  color: #450f0f;
  background-color: #F9F3E9;
  font-size: 18px;
  line-height: 1.4;
}
section, nav ul, footer section {
  width: 900px;
  margin: auto;
}
a {
  color: 	#CC5500
}

/* ------- HEADERS ------- */

/* the header  */ 
header {
  background-image: url(images/cbc-outside.jpg);
  background-size: cover;
  background-position: center;
}

/* the group of content inside the header on all pages */ 
header section {
  padding: 100px 0;
  color: white;
  font-size: 30px;
}

/* the group of content inside the homepage header */ 
section.home-hero {
  font-size: 50px;
}

/* the header group of content on the story page */ 
header.story {
  background-image: url(images/patio.jpg);
}

/* the section element inside the header on the story page */ 
header.story section {
  padding: 40px 0;
}

/* ------- NAVIGATION ------- */

/* the navigation group of content */
nav {
  background-color: #5f1422;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FFAA1D;
  text-align: center;
}

/* the list in the navigation */
nav ul {
  list-style-type: none;
}

/* the list items in the navigation */ 
nav ul li {
  display: inline-block;
  padding: 20px 40px;
}

/* the anchor in the navigation */ 
nav ul li a {
  color: #FFAA1D;
  text-decoration: none;
}

/* the anchor in the navigation */ 
nav ul li a:hover {
  text-decoration: underline;
}

.current-page {
  color: white;
}

/* ------- FOOTER ------- */

/* the footer group of content */ 
footer {
  font-family: sans-serif;
  background-color: #292929;
  color: white;
  font-size: 14px;
}

footer section {
  padding: 20px 0;
}

footer h2 {
font-size: 18px;
}

footer a {
  color: #FFAA1D;
}

/* ======== CONTENT BLOCK STYLES ========= */

/* ------- FOOTER ------- */
/* the group of content about the introxxsadasda */  
.important-content {
  text-align: center;
  padding: 40px 0;
  margin: 40px auto;
  font-size: 26px;
  line-height: 1.4;
  background-image: url(images/cbc-logo-orange.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-content {
  padding: 0 0 80px;
}

/* ------- FOOTER ------- */
.feature {
  font-size: 18px;
  padding: 40px;
  background-color: #597184;
  color: white;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.feature.beer {
  background-image: url(images/beer.jpg);
}

.feature.food {
  background-image: url(images/food.jpg);
}

.feature h2 {
 font-size: 48px;
 font-family: serif;
 margin-top: 0;
}

.feature a {
  color: #FFAA1D;
}

/* ------- FOOTER ------- */
/* the group of content about the introxxsadasda */  
.contact {
  padding: 40px 0;
  margin: 40px auto;
  line-height: 1.4;
  text-align: center;
  font-size: 20px;
}
.contact ul {
  list-style-type: none;
}

.contact div {
  display: inline-block;
  padding-right: 40px;
}

/* ======== ABOUT PAGE STYLES ========= */
/* ------- EDITORIAL IMAGE ------- */
figure {
  text-align: center;
}
figcaption {
  font-style: italic;
}

/* ------- QUOTES ------- */
/* the groups of content that include the quotes */ 
blockquote {
  background-color: #3C5060;
  color: white;
  padding: 60px;
  width: 900px;
  margin: 0 auto 40px auto;
  text-align: center;
  font-size: 26px;
  margin: 40px 0;
}
blockquote .author {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}


